.FlightSec {
    width: 100%;
    height: auto;
    padding: 0px 100px;
}
.FlightSec .content {
    display: flex;
    justify-content: space-between;
}
.FlightSec .content .titles p {
    font-weight: 200;
    color: #595756;
    font-size: 15px;
}
.FlightSec .content .titles h2 {
    color: #1d1c1b;
    font-size: 2rem;
}
.FlightSec .content button {
    width: 200px;
    height: 50px;
    background-color: rgb(28, 28, 28);
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.FlightSec .content button:hover {
    background-color: rgb(28, 28, 28, 70%);
}
.flightCards {
    width: auto;
    height: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.flightCard {
    height: auto;
    background-color: white;
    border-radius: 20px;
}
.flightCard .cardDetails {
    padding: 5px;
}

.flightCard .cardDetails h2 {
    font-size: 18px;

    color: #1d1c1b;
}

.flightCard .cardDetails h3 {
    font-size: 15px;
    color: #ff7815;
    font-weight: 400;
}
.flightCard .cardDetails p {
    margin: 5px 0px;
    color: #999593;
    font-size: 15px;
}
.flightCard button {
    width: 90%;
    height: 50px;
    margin: 5%;
    border: none;
    background-color: #ff7815;
    color: white;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
}
.flightCard button:hover {
    border: 1px solid #ff7815;
    background-color: white;
    color: #ff7815;
}
@media (max-width: 1000px) {
    .flightCards {
        grid-template-columns: repeat(2, 1fr);
    }
    .flightCard button {
        width: 80%;
        height: 40px;
    }
}
@media (max-width: 650px) {
    .flightCards {
        grid-template-columns: repeat(1, 1fr);
    }
}
